/*
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
*/
/* Styles for main page */

#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", Times, serif;
  color: #282;
  text-align: center;
  height: 90px;
}
/*
#banner img {
  float: left;
}

#columns {
  background: #141;
}

#main {
  margin-left: 9em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 8em;
  background: #141;
}

#side a {
  color: #ffffff;
  font-size: inherit;
  text-decoration: none;
  margin-bottom: 2em;
}
*/
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* Attributes for the form used when entering measurements */

label.date {
  font-size:   large;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 3em;
}

h2.indic {
  font-weight: bold;
  margin-top: 2em;
  margin-top: 1em;
  font-size: large;
  margin-bottom: 0;
}

table.indicHrs {
  margin-left: 0.5cm;
}

div#auteurs label {
  font-weight: bold;
  font-size: large;
}

div#auteurs span {
  
}

/* Attributes for the form when selecting a graph */
.graph-form td {
  font-weight: bold;
}

.graph-form .submit {
  margin-left: 2cm;
}

/* Attributes for the printed register */
.registre table {
  page-break-after: always;
}

.registre td {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.registre th {
  text-align: center;
}
